/*noinspection ALL*/
@tailwind base;
/*noinspection ALL*/
@tailwind components;
/*noinspection ALL*/
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}

body::-webkit-scrollbar {
  display: none;
}
